{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%} title {% endblock%}</title>
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<img src="{% static '/images/cat.jpg' %}" alt="My image">

<div>
  <ul class="nav-links">
    <li><a href={% url 'home' %}> <img src="{% static '/images/logo.png' %}" alt="My image" width="200" height="45"></li>
    <li><a href={% url 'patients_list' %}> patients list </a> </li> 
    <li><a href={% url 'doctors_list' %}> Doctors </a> </li>
    <li><a href={% url 'orders_list' %}> Orders </a> </li>
    <li><a href={% url 'pending_samples' %}> Pending </a> </li>
    <li><a href={% url 'register_customer' %}> New Customer </a> </li>
    <li><a href={% url 'daily_totals' %}> Daily Revenue </a> </li>
  </ul>

</div>
  
<body>

    {% block content%}

    {% endblock %}

</body>
</html>