{% extends "base.html" %}
{% block title%} Customer Details {% endblock%}
{% block content%}
<section>

    <div class="details">
        <p> Name : {{patient}}</p>
        <p> Mobile: {{patient.mobile}}</p>
        <p>Email: {{patient.email}}</p>
        <p>Gender: {{patient.gender}}</p>
        <p>Age :{{patient.age}}</p>
        <p><a href="{% url 'edit_customer' patient.id %}"> edit</a></p>
        <p><a href="{% url 'delete_customer' patient.id %}"> delete</a></p>

    </div>

        <!--for demo wrap-->
        <h1>Customer Tests Details</h1>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Test</th>
                    <th>Price</th>
                </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
           
            {% for order in orders %}
            <tbody>
                <tr>
                    <td><a href="{% url 'order_details' order.order_id %}"> {{order.collected_date}}</a></td>
                    <td>{{order.get_total}}</td>
                </tr>
                <!-- and so on... -->
            </tbody>
            
                {% endfor %}
          </table>
        </div>
      </section>
{% endblock %}

