<a href={% url 'home' %}> Home </a>

<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
</form>


<table class="styled-table">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>total bill</th>
            <th>commission to doc</th>
            <th>commission %</th>
        </tr>
    </thead>
    {% for order in orders_with_collected_date %}
    <tbody>
        <tr>
            <td> {{order.customer.patient_name}}</td>
            <td> {{order.get_total}}</td>
            <td> {{order.referred_by.commission}}</td>
            <td> {{order.commision_to_doc}}</td>
        </tr>
        <!-- and so on... -->
    </tbody>

    {% endfor %}
    <tr>
        <td>Total</td>
        <td>{{todays_total}}</td>
    </tr>

    {% for key, value in todays_docs.items %}
        <p>{{ key }}: {{ value }}</p>
    {% endfor %}
</table>