{% extends "base.html" %}
{% block title%} Doctors {% endblock%}

{% block content%}

<section>
    <!--for demo wrap-->
    <h1>Doctor's Details</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Doctor Name</th>
            <th>total_patients</th>
            <th>total amount</th>
            <th>commision %</th>
            <th>commision to doctor </th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
       
        {% for doctor in doctors%}
        <tbody>
            <tr>
                <td><a href="{% url 'doctor' doctor.id %}"> {{doctor}}</a></td>
                <td> {{doctor.no_of_patients}}</td>
                <td> {{doctor.total_cost}}</td>
                <td> {{doctor.commission}}</td>
                <td> {{doctor.commission_to_doc}}</td>
            </tr>
            <!-- and so on... -->
        </tbody>
    
        {% endfor %} 
      </table>
    </div>
  </section>
  
  
  
  <!-- follow me template -->
  <div class="made-with-love">
    Made with
    <i>♥</i> by Nithin
   </div>

    {% endblock %}
