{% extends "base.html" %}
{% block title%} Doctot Details {% endblock%}
{% block content%}
<section>

    <div class="details">
        <p> Name : {{doctor}}</p>
        <p> commission: {{doctor.commission}} %</p>
    </div>    

            <!--for demo wrap-->
            <h1>Patients Referred By {{doctor}}</h1>
            <div class="tbl-header">
              <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Patients</th>
                        <th>Bill</th>
                    </tr>
                </thead>
              </table>
            </div>
            <div class="tbl-content">
              <table cellpadding="0" cellspacing="0" border="0">
               
                {% for order in orders %}
                <tbody>
                    <tr>
                        <td><a href="{% url 'order_details' order.order_id %}"> {{order.customer.patient_name}}</a></td>
                        <td>{{order.get_total}}</td>
                    </tr>
                    <!-- and so on... -->
                </tbody>
                
                    {% endfor %}
                
              </table>
              <tr>
                <td>{{doctor.total_cost}}</td>
            </tr>
            </div>
          </section>
{% endblock %}
