{% extends "base.html" %}
{% block title%} Fill Report {% endblock%}
{% block content%}
<section>
    <div class="details">
        <div> Name : {{patient}}</div>
        <div> Mobile: {{patient.mobile}}</div>
        <div>Email: {{patient.email}}</div>
        <div>Gender: {{patient.gender}}</div>
        <div>collected_at: {{patient.collected_at}}</div>
        <div>referred_by: {{patient.referred_by}}</div>
        <div>collected_date: {{patient.collected_date}}</div>
        <div>expected_complete_date: {{patient.expected_complete_date}}</div>
        <div>Registred Time: {{patient.created_at}}</div>
        <div>Age :{{patient.age}}</div>
    </div>
        <!--for demo wrap-->
        <h1>Patien's Tests</h1>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Test</th>
                    <th>Fill Values</th>
                    <th>Print Values</th>
                </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
           
            {% for test in patient_tests %}
            <tbody>
                <tr>
                    <td>  {{test}}  </td>
                    <td><a href="{{test}}"> Edit</a></td>            
                    <td><a href="print/{{test}}"> print</a></td>            
                </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
</section>
{% endblock %}