{% extends "base.html" %}
{% block title%} Doctors {% endblock%}

{% block content%}
{% load crispy_forms_tags %}

<form method="post" class="my-class">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn login_btn" type="submit" value="Submit">
</form>

{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
            // Initialize Select2 on the customer field
            $('#id_customer').select2({
                placeholder: "Select Customers",
                allowClear: true
            });
    
            // Initialize Select2 on the visitor field
            $('#id_referred_by').select2({
                placeholder: "Select referred by",
                allowClear: true
            });
    </script>
</body>
</html>
