  {% extends "base.html" %}
  {% block title%} Home {% endblock%}
  {% block content%}

  <div class="topnav">
    <a class="active" {% url 'home' %}> Home </a>
    <a href={% url 'patients_list' %}> patients_list </a> 
    <a href={% url 'doctors_list' %}> Doctors </a> 
    <a href={% url 'orders_list' %}> Orders </a> 
    <a href={% url 'pending_samples' %}> Pending </a> 
    <a href={% url 'register_customer' %}> New Customer </a> 
    <a href={% url 'daily_totals' %}> Daily Revenue </a> 
  </div> 

  <section class="container">
    <header>Registration Form</header>
        <form method='POST' class="form">
            {% csrf_token %} 

            <div class="mb-3">
              <label>{{form.customer.label}}</label>
              {{form.customer}}
            <div class="mb-3">{{form.collected_at.label}}:{{form.collected_at}}</div>
            <div class="mb-3">{{form.referred_by.label}}:{{form.referred_by}}</div>
            <div class="mb-3">{{form.collected_date.label}}:{{form.collected_date}}</div>
            <div class="mb-3">{{form.expected_complete_date.label}}:{{form.expected_complete_date}}</div>
            <div class="mb-3">{{form.tests.label}}:{{form.tests}}</div>
            <div class="mb-3">{{form.collection_status.label}}:{{form.collection_status}}</div>
            <input type='submit'>
        </form>

      </section>
    </div>

    {% endblock %}
