{% extends "base.html" %}
{% block title%} Register New Customer {% endblock%}
{% block content%}

    <a href={% url 'patients_list' %}> patients_list </a>
    <a href={% url 'doctors_list' %}> Doctors </a>
    <a href={% url 'pending_samples' %}> Pending </a>



    <div> 

        
        <form method='POST' class="form-control">
            {% csrf_token %} 
            <div class="mb-3">
              <label>{{form.patient_name.label}}</label>
              {{form.patient_name}}
            </div>
      
            <div class="mb-3">{{form.mobile.label}}:{{form.mobile}}</div>
            <div class="mb-3">{{form.email.label}}:{{form.email}}</div>
            <div class="mb-3">{{form.gender.label}}:{{form.gender}}</div>
            <div class="mb-3">{{form.age.label}}:{{form.age}}</div>
            
            <input type='submit'>
        </form>
    </div>
    <a href={% url 'daily_totals' %}> Daily Revenue </a>

    
    {% endblock %}
