<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <style>
        .cls{
            margin-left: 20%;
            margin-right: 20%;
            text-align: center;
        }
        .details{
            display: inline;
            text-align: center;
        }
    </style>

</head>
<body>
    <a href={% url 'home' %}> Home </a>
    <div class="details">
        <p> Name : {{order.customer.patient_name}}</p>
        <p> Mobile: {{patient.mobile}}</p>
        <p>Email: {{patient.email}}</p>
        <p>Gender: {{patient.gender}}</p>
        <p>collected_at: {{patient.collected_at}}</p>
        <p>referred_by: {{patient.referred_by}}</p>
        <p>collected_date: {{patient.collected_date}}</p>
        <p>expected_complete_date: {{patient.expected_complete_date}}</p>
        <p>Registred Time: {{patient.created_at}}</p>
        <p>Age :{{patient.age}}</p>
    </div>

    <div class="cls">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Test</th>
                    <th>Price</th>
                </tr>
            </thead>
            {% for test in tests %}
            <tbody>
                <tr>
                    <td>{{test}}</td>
                    <td>{{test.price}}</td>
                </tr>
                <!-- and so on... -->
            </tbody>
            
                {% endfor %}
                <tr>
                    <td>Total</td>
                    <td>{{order.get_total}}</td>
                </tr>
            </tbody>
          </table>
    </div>




</body>
</html>