{% extends "base.html" %}
{% block title%} Test Details {% endblock%}
{% block content%}
<section>
    <div class="details">
        <p> Name : {{order.customer.patient_name}}</p>
        <p> Mobile: {{order.customer.mobile}}</p>
        <p>Email: {{order.customer.email}}</p>
        <p>Gender: {{order.customer.gender}}</p>
        <p>collected_at: {{order.collected_at}}</p>
        <p>referred_by: {{order.referred_by}}</p>
        <p>collected_date: {{order.collected_date}}</p>
        <p>expected_complete_date: {{order.expected_complete_date}}</p>
        <p>Registred Time: {{order.created_at}}</p>
        <p>Age :{{order.customer.age}}</p>
        <p><a href="{% url 'edit_order' order.order_id %}"> edit</a></p>
        <p><a href="{% url 'generate_invoice' order.order_id %}">Download Invoice</a></p>
        <p><a href="{% url 'delete_order' order.order_id %}"> ❌</a></p>


    </div>
        <!--for demo wrap-->
        <h1>All Tests</h1>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Test</th>
                    <th>Price</th>
                </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
           
            {% for test in tests %}
            <tbody>
                <tr>
                    <td>{{test}}</td>
                    <td>{{test.price}}</td>
                  </tr>
                <!-- and so on... -->
            </tbody>
                {% endfor %}
                <tr>
                    <td>Total</td>
                    <td>{{order.get_total}}</td>
                </tr>
          </table>
        </div>
      </section>


{% endblock %}
