{% extends "base.html" %}
{% block title%} All Tests {% endblock%}


{% block content%}


<section>
    <!--for demo wrap-->
    <h1>All Orders</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Orders ID</th>
            <th>Customer Name</th>
            <th>total amount</th>
            <th>referred_by</th>
            <th>status </th>
            <th>fill values </th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
       
        {% for order in list_of_orders%}
        <tbody>
            <tr>
                <td> {{order.order_id}}</td>
                <td><a href="{% url 'order_details' order.order_id %}"> {{order.customer.patient_name}}</a></td>
                <td> {{order.get_total}}</td>
                <td> {{order.referred_by}}</td>
                <td> order status</td>
                <td><a href="{% url 'fill_values' order.order_id %}"> Edit</a></td>

            </tr>
            <!-- and so on... -->
        </tbody>
    
        {% endfor %}

    {% endblock %}
