<table border="1">
    <thead>
      <tr>
        <th>Test Name</th>
        <th>Subtest</th>
        <th>Result</th>
        <th>Methodology</th>
        <th>Units</th>
        <th>Range</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="4">COMPLETE BLOOD PICTURE</td>
        <td>HAEMOGLOBIN</td>
        <td><input type="text" value="13.1"></td>
        <td>
          <select>
            <option value="--Select--">--Select--</option>
            <!-- Add more options here -->
          </select>
        </td>
        <td>gms</td>
        <td>
          Male: 12 - 17 gms<br>
          Female: 12 - 15 gms
        </td>
        <td>
          <a href="#">Edit Ranges</a> |
          <a href="#">Add Above</a> |
          <a href="#">Add Below</a>
        </td>
      </tr>
      <tr>
        <td>TOTAL RBC COUNT</td>
        <td><input type="text" value="5.0"></td>
        <td>
          <select>
            <option value="--Select--">--Select--</option>
            <!-- Add more options here -->
          </select>
        </td>
        <td>mill/cumm</td>
        <td>
          Male: 4.5 - 6.5 mill/cumm<br>
          Female: 3.5 - 5.5 mill/cumm
        </td>
        <td>
          <a href="#">Edit Ranges</a> |
          <a href="#">Add Above</a> |
          <a href="#">Add Below</a>
        </td>
      </tr>
      <tr>
        <td>PACKED CELL VOLUME</td>
        <td><input type="text" value="39.1"></td>
        <td>
          <select>
            <option value="--Select--">--Select--</option>
            <!-- Add more options here -->
          </select>
        </td>
        <td>%</td>
        <td>
          Male: 40 - 54<br>
          Female: 37 - 47
        </td>
        <td>
          <a href="#">Edit Ranges</a> |
          <a href="#">Add Above</a> |
          <a href="#">Add Below</a>
        </td>
      </tr>
      <tr>
        <td>TOTAL WBC COUNT</td>
        <td><input type="text" value="3100"></td>
        <td>
          <select>
            <option value="--Select--">--Select--</option>
            <!-- Add more options here -->
          </select>
        </td>
        <td>cells/cumm</td>
        <td>4000 - 11000</td>
        <td>
          <a href="#">Edit Ranges</a> |
          <a href="#">Add Above</a> |
          <a href="#">Add Below</a>
        </td>
      </tr>
    </tbody>
  </table>
  