<form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.errors }}
    {% for test in selected_tests %}
        <h3>{{ test }}</h3>

        <!-- Show fields for the selected tests -->
        {% if test == "GLYCOSYLATED HEMOGLOBIN (HBA1c)" %}
            <div>
                {{ form.hba1c.label_tag }} {{ form.hba1c }} <br>
            </div>
        {% endif %}
        {% if test == "BLOOD UREA NITROGEN - BUN " %}
            <div>
                {{ form.blood_urea_nitrogen.label_tag }} {{ form.blood_urea_nitrogen }} <br>
            </div>
        {% endif %}
        {% if test == "COMPLETE URINE EXAMINATION" %}
            <div>
                {{ form.esr.label_tag }} {{ form.esr }} <br>
                {{ form.esr_unit.label_tag }} {{ form.esr_unit }} <br>
            </div>
        {% endif %}
        {% if test == "COTININE" %}
            <div>
                {{ form.esr.label_tag }} {{ form.esr }} <br>
                {{ form.esr_unit.label_tag }} {{ form.esr_unit }} <br>
            </div>
        {% endif %}
        {% if test == "ERYTHROCYTE SEDIMENTATION RATE( ESR)" %}
            <div>
                {{ form.esr.label_tag }} {{ form.esr }} <br>
                {{ form.esr_unit.label_tag }} {{ form.esr_unit }} <br>
            </div>
        {% endif %}
        {% if test == "HAEMOGRAM" %}
            <div>
                {{ form.esr.label_tag }} {{ form.esr }} <br>
                {{ form.esr_unit.label_tag }} {{ form.esr_unit }} <br>
            </div>
        {% endif %}
        {% if test == "HBsAg - Hepatitis B surface Antigen" %}
            <div>
                {{ form.esr.label_tag }} {{ form.esr }} <br>
                {{ form.esr_unit.label_tag }} {{ form.esr_unit }} <br>
            </div>
        {% endif %}
        {% if test == "HIV I & II Elisa" %}
            <div>
                {{ form.esr.label_tag }} {{ form.esr }} <br>
                {{ form.esr_unit.label_tag }} {{ form.esr_unit }} <br>
            </div>
        {% endif %}
        {% if test == "LIPID PROFILE" %}
            <div>
                {{ form.esr.label_tag }} {{ form.esr }} <br>
                {{ form.esr_unit.label_tag }} {{ form.esr_unit }} <br>
            </div>
        {% endif %}
        {% if test == "LIVER FUNCTION TEST" %}
            <div>
                {{ form.esr.label_tag }} {{ form.esr }} <br>
                {{ form.esr_unit.label_tag }} {{ form.esr_unit }} <br>
            </div>
        {% endif %}
        {% if test == "RANDOM BLOOD SUGAR" %}
            <div>
                {{ form.esr.label_tag }} {{ form.esr }} <br>
                {{ form.esr_unit.label_tag }} {{ form.esr_unit }} <br>
            </div>
        {% endif %}
        {% if test == "RFT/KFT" %}
            <div>
                {{ form.esr.label_tag }} {{ form.esr }} <br>
                {{ form.esr_unit.label_tag }} {{ form.esr_unit }} <br>
            </div>
        {% endif %}
    {% endfor %}
    <button type="submit">Save</button>
</form>
