<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Urine</title>
</head>
<body>
    <div class="details">
        <p> Name : {{order}}</p>
        <p> Mobile: {{order.mobile}}</p>
        <p>Email: {{order.email}}</p>
        <p>Gender: {{order.gender}}</p>
        <p>collected_at: {{order.collected_at}}</p>
        <p>referred_by: {{order.referred_by}}</p>
        <p>collected_date: {{order.collected_date}}</p>
        <p>expected_complete_date: {{order.expected_complete_date}}</p>
        <p>Registred Time: {{order.created_at}}</p>
        <p>Age :{{order.age}}</p>
    </div>
    <div> 
       {{order.bilrubine}} 
    </div>
    
</body>
</html>